.triangle-right-active {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#f6ac4c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f6ac4c), to(#f6ac4c));
  background:-moz-linear-gradient(#f6ac4c, #f6ac4c);
  background:-o-linear-gradient(#f6ac4c, #f6ac4c);
  background:linear-gradient(#f6ac4c, #f6ac4c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.time-display {
  position:relative;
  padding:1px;
  color:#000;
}

.triangle-right-active.left {
  margin-left:10px;
  background:#f6ac4c;
}

.triangle-right {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#bcb3a7; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#bcb3a7), to(#bcb3a7));
  background:-moz-linear-gradient(#bcb3a7, #bcb3a7);
  background:-o-linear-gradient(#bcb3a7, #bcb3a7);
  background:linear-gradient(#bcb3a7, #bcb3a7);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.triangle-right.left {
  margin-left:10px;
  background:#bcb3a7;
}

.body {
  background-color: #93B874;
}

.sender-body {
  background-color: #93B874;
  background-image : url(fuconf.png)
}
.send-message {
	width: 265px;
	height: 31px;
	font-family: ciscosansTT;
	font-size: 16px;
	background-color: #0ab7d7;
	color: #fff;
	padding: 7px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  vertical-align: top
}

.message-field {
	width: 360px;
	height: 64px;
	font-family: ciscosansTT;
	font-size: 16px;
	background-color: #ffffff;
	color: #000000;
	padding: 7px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.recipient-field {
	width: 90px;
	height: 16px;
	font-family: ciscosansTT;
	font-size: 16px;
	background-color: #ffffff;
	color: #000000;
	padding: 7px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
